footer .theme-toggle {
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    margin-right: 15rem;
  }
  
  .theme-toggle span {
    cursor: pointer;
    margin: 0;
    font-size: 0.8rem;
  }
  
  .selected-icon {
    border-radius: 50%; 
    padding: 2px; 
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    padding: 0px;
    border-radius: 20px;
    transition: border 0.3s ease;
  }





/* Couleurs bordures thèmes */

.icon-container {
    border-color: rgb(220, 220, 220);
}

body.dark-mode .icon-container {
    border-color: rgb(46, 46, 46);
}

/* Couleurs des icônes de changement de thème */

body .theme-toggle .selected-icon {
    color: #000;
    border-color: rgb(220, 220, 220);
}

body.dark-mode .theme-toggle .selected-icon {
    color: #fff;
    
}

body.dark-mode .theme-toggle .selected-icon {
    background-color: #0f0f0f;
}

body .theme-toggle span:not(.selected-icon) {
    color: #7d7d7d;
}

body .theme-toggle span:not(.selected-icon):hover {
    color: black;
}

/* Bordure et effets au survol des icônes de changement de thème */
body .theme-toggle span {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

body.dark-mode .theme-toggle span:not(.selected-icon) {
    color: #7f7f7f ;
}

body .theme-toggle #icon-moon:hover {
    background-color: rgba(36, 36, 36, 0.2); 
}

body.dark-mode .icon-container #icon-sun-footer:hover {
    color: white !important;
}

body.dark-mode .icon-container #icon-moon-footer {
    color: white !important; 
}

body.dark-mode .theme-toggle .selected-icon {
    border: 1px solid rgb(64, 64, 64);
}
